extends layout.pug
block number1 
    if error 
        p Please enter some data
    if success
        p Well done!

        
    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Tell me what to add...' name= 'todo')
        button.btn Add

    div.todos
        if todos.length 
            each todo in todos  
                p.todo #{ todo.description }
        else 
            p.todo Empty list of tasks        
            