doctype html
html(lang="en")
    head
        title To-do-app
    body 
        header.navbar 
            h1  
                a(href='/') To-do-app 

            nav.nav
                a(href='/delete') Delete Tasks
                a(href='/archive') Archive
        block content
