doctype html
html(lang="en")
    head
        title To-do-app
        link(rel='stylesheet', href='/static/styles/style.css')
    body        
        div.image 
        div.wrapper 
            h1.logo To-do-app 

            block number1 
